.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.rightPanel {
  padding:50px;
  margin: 10px;
  float: right;
  width: 100%;
  /* height: 90vh; */
  overflow: auto;
  margin-bottom: 25px;
}
.col-form-label {
  text-align: right;
}
header {
  min-height: 8vh;
  margin-bottom: 10px;
  display: flex !important;
  align-items: center;
  justify-content: center;
  color: #282c34;
  /* background-image: linear-gradient(#daf5ff, transparent, transparent); */
  background-color: #daf5ff;
  border-bottom: 1px solid #daf5ff;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
